<% include partials/head %>

    <body>
        <!-- ============================================================== -->
        <!-- main wrapper -->
        <!-- ============================================================== -->
        <div class="dashboard-main-wrapper">
            <!-- ============================================================== -->
            <!-- navbar -->
            <!-- ============================================================== -->
            <% include partials/navbar %>
                <!-- ============================================================== -->
                <!-- end navbar -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- left sidebar -->
                <!-- ============================================================== -->
                <% include partials/sidebar %>
                    <!-- ============================================================== -->
                    <!-- end left sidebar -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- wrapper  -->
                    <!-- ============================================================== -->
                    <div class="dashboard-wrapper">
                        <div class="container-fluid  dashboard-content">
                            <!-- ============================================================== -->
                            <!-- pageheader -->
                            <!-- ============================================================== -->
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="page-header">
                                        <h2 class="pageheader-title">UPDATE BIODATA</h2>
                                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac
                                            porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                                        <div class="page-breadcrumb">
                                            <nav aria-label="breadcrumb">
                                                <ol class="breadcrumb">
                                                    <li class="breadcrumb-item"><a href="#"
                                                            class="breadcrumb-link">Dashboard</a></li>
                                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">UI
                                                            Elements</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page">Tabs</li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end pageheader -->
                            <!-- ============================================================== -->

                            <div class="row">
                                <!-- ============================================================== -->
                                <!-- justified tabs  -->
                                <!-- ============================================================== -->
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-5">
                                    <!-- ============================================================== -->
                                    <!-- Alert  -->
                                    <!-- ============================================================== -->
                                    <div class="alert alert-primary" role="alert">
                                        SELAMAT DATANG <strong>
                                            <%= user.email %>
                                        </strong> .... SILAHKAN LENGKAPI BIODATA ANDA !
                                    </div>
                                    <!-- ============================================================== -->
                                    <!-- end alert  -->
                                    <!-- ============================================================== -->
                                    <!-- <div class="section-block">
                                <h5 class="section-title">Justified Tabs</h5>
                                <p>Takes the basic nav from above and adds the .nav-tabs class to generate a tabbed interface..</p>
                            </div> -->
                                    <!-- <a href="#" class="btn btn-secondary">Input Data</a>
                            <br><br> -->
                                    <div class="tab-regular">
                                        <form action="/insert_rpd" method="POST">
                                        <div class="tab-content" id="myTabContent7">
                                            <div class="tab-pane fade show active" id="home-justify" role="tabpanel"
                                                aria-labelledby="home-tab-justify">
                                                <div class="row">
                                                    
                                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                        <div class="card">
                                                            <!-- <h5 class="card-header">Basic Form</h5> -->
                                                            <div class="card-body">

                                                                <div class="form-group" hidden>
                                                                    <label for="inputText3" class="col-form-label">ID Bio</label>
                                                                    <input id="inputText3" name="id_bio" type="text" value="<%= user.id %>"
                                                                        class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputText3" class="col-form-label">Jenjang</label>
                                                                    <input id="inputText3" name="jenjang" type="text"
                                                                        class="form-control">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="exampleFormControlTextarea1">Nama Sekolah</label>
                                                                    <input id="inputText3" name="namaSekolah" type="text"
                                                                        class="form-control" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputText3" class="col-form-label">Kota</label>
                                                                    <input id="inputText3" name="kota" type="text" class="form-control" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputText3" class="col-form-label">Tahun Mulai</label>
                                                                    <input id="inputText3" name="thMulai" type="text"
                                                                        class="form-control" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputText3" class="col-form-label">Tahun Lulus</label>
                                                                    <input id="inputText3" name="thLulus" type="text"
                                                                        class="form-control" >
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="inputEmail">Jurusan</label>
                                                                    <input id="inputEmail" type="text" name="jurusan"
                                                                        class="form-control">
                                                                </div>
                                                                <!-- <div class="form-group">
                                                                    <label for="inputEmail">IPK</label>
                                                                    <input id="inputEmail" type="text" name="ipk" class="form-control">
                                                                </div> -->

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                                <button type="submit" class="btn btn-secondary">Selanjutnya</button>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <!-- ============================================================== -->
                                <!-- end justified tabs  -->
                                <!-- ============================================================== -->
                            </div>

                        </div>
                        <!-- ============================================================== -->
                        <!-- footer -->
                        <!-- ============================================================== -->
                        <div class="footer">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a
                                            href="https://colorlib.com/wp/">Colorlib</a>.
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                        <div class="text-md-right footer-links d-none d-sm-block">
                                            <a href="javascript: void(0);">About</a>
                                            <a href="javascript: void(0);">Support</a>
                                            <a href="javascript: void(0);">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end footer -->
                        <!-- ============================================================== -->
                    </div>
        </div>
        <!-- ============================================================== -->
        <!-- end main wrapper -->
        <!-- ============================================================== -->
        <!-- Optional JavaScript -->
        <script src="/../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
        <script src="/../assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
        <script src="/../assets/vendor/slimscroll/jquery.slimscroll.js"></script>
        <script src="/../assets/libs/js/main-js.js"></script>
    </body>


    </html>